body {
	width: 100%;
	height: 100%;
}
.page-wrapper {
	background-image: url(img.jpg);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed; 
}
.wrapper {
	background: #fff;
	width: 500px;
	margin: 100px auto;
	border-radius: 5px;
	padding: 30px 45px 30px;
	
}
.input-style {
	width: 400px;
	
}
.label {
    display: block; /**/
}
.form-field {
    margin-bottom: 22px; /* cach cac phan tu */
}
